<p>rolls works!</p>

<div *ngFor="let roll of rolls; index as i">

  <h3>
    <a [title]="roll.manufacturer + ' ' + roll.brand + ' ' + roll.iso + ' ' + roll.date_loaded" [routerLink]="['/rolls', roll.id]">
      {{roll.manufacturer + ' ' + roll.brand + ' ' + roll.iso + ' ' + roll.date_loaded}}
    </a>
  </h3>

  <ul>
    <li ng-repeat="(key, value) in rolls | groupBy: 'camera.model_number'">
      Group name: {{ key }}
      <ul>
        <li ng-repeat="roll in value">
          Roll: {{roll.manufacturer + ' ' + roll.brand + ' ' + roll.iso + ' ' + roll.date_loaded}}
        </li>
      </ul>
    </li>
  </ul>
  <!-- . . . -->
</div>
